<?xml version="1.0" encoding="UTF-8"?>
<?ifndef Version?>
<?define Version = "1.5.0.1" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="BEurtle Plugin for TortoiseXXX (x86 and x64)" Version="$(var.Version)" Manufacturer="ned Productions Limited" UpgradeCode="9a4a032d-90c1-46a2-8f36-38fb1655cca9"
    HelpUrl="http://www.nedprod.com/programs/Win32/BEurtle/"
    Copyright="Copyright © 2011-2012 Niall Douglas"
    AboutUrl="http://www.nedprod.com/programs/Win32/BEurtle/"
    SplashScreenSourceFile="..\BEurtle\Resources\bugseverywheresplash.bmp"
    Condition="((VersionNT >= v5.1) AND (ServicePackLevel >= 3)) OR ((VersionNT >= v5.2) AND (ServicePackLevel >= 2)) OR (VersionNT >= v6.0)"
    IconSourceFile="..\BEurtle\Resources\MainIcon.ico">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="..\Licence.rtf" LogoFile="bugseverywhere.png"/>
    </BootstrapperApplicationRef>

    <Chain>
      <PackageGroupRef Id="Netfx20" />
      <PackageGroupRef Id="Mshtml" />

      <RollbackBoundary />

      <MsiPackage
        Id="Setup32"
        Compressed="yes"
        SourceFile="..\BEurtleSetup32\bin\Release\BEurtleSetup32.msi"
        SuppressSignatureVerification="yes"
        Vital="yes">
        <MsiProperty Name="INSTALLLOCATION" Value="[ProgramFilesFolder]ned Productions Limited\BEurtle" />
      </MsiPackage>
      <MsiPackage
        Id="Setup64"
        Compressed="yes"
        SourceFile="..\BEurtleSetup64\bin\Release\BEurtleSetup64.msi"
        SuppressSignatureVerification="yes"
        InstallCondition="VersionNT64"
        Vital="yes">
        <MsiProperty Name="INSTALLLOCATION" Value="[ProgramFiles64Folder]ned Productions Limited\BEurtle" />
      </MsiPackage>
    </Chain>
  </Bundle>

  <Fragment>
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v2.0.50727" Value="Version" Variable="Netfx20Version" />
    <util:RegistrySearch Root="HKCR" Key="Installer\Assemblies\Global" Value="Microsoft.mshtml,Version=&quot;7.0.3300.0&quot;,PublicKeyToken=&quot;b03f5f7f11d50a3a&quot;,Culture=&quot;neutral&quot;,FileVersion=&quot;7.0.3300.0&quot;" Result="exists" Variable="MshtmlVersion" />

    <PackageGroup Id="Netfx20">
      <!-- This embeds the .NET 3.0 web installer for virgin WinXP installs. Costs ~3Mb extra to installer size + 50Mb to download. -->
      <!--<ExePackage Id="Netfx20"
        Cache="no"
        Compressed="yes"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        Name="Redist\dotnetfx20.exe"
        SourceFile="Redist\dotnetfx3setup.exe"
        InstallCommand="/norestart /lang:ENU"
        RepairCommand="/norestart /lang:ENU"
        UninstallCommand="/norestart /lang:ENU"
        InstallCondition="NOT Netfx20Version OR (Netfx20Version &lt; v2.0.50727.5420)"
        DetectCondition="Netfx20Version AND (Netfx20Version &gt;= v2.0.50727.5420)">
        <ExitCode Value ="3010" Behavior="forceReboot" />
      </ExePackage>-->
      <!-- This causes the download of the .NET 2.0 SP2 x86 installer from Microsoft. -->
      <ExePackage Id="Netfx20_32"
        Cache="no"
        Compressed="no"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        SourceFile="Redist\NetFx20SP2_x86.exe"
        DownloadUrl="http://download.microsoft.com/download/c/6/e/c6e88215-0178-4c6c-b5f3-158ff77b1f38/NetFx20SP2_x86.exe"
        InstallCommand="/q /norestart /lang:ENU"
        RepairCommand="/q /norestart /lang:ENU"
        UninstallCommand="/q /norestart /lang:ENU"
        InstallCondition="NOT VersionNT64 AND (NOT Netfx20Version OR (Netfx20Version &lt; v2.0.50727.5420))"
        DetectCondition="Netfx20Version AND (Netfx20Version &gt;= v2.0.50727.5420)">
        <ExitCode Value ="3010" Behavior="forceReboot" />
      </ExePackage>
      <!-- This causes the download of the .NET 2.0 SP2 x64 installer from Microsoft. -->
      <ExePackage Id="Netfx20_64"
        Cache="no"
        Compressed="no"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        SourceFile="Redist\NetFx20SP2_x64.exe"
        DownloadUrl="http://download.microsoft.com/download/c/6/e/c6e88215-0178-4c6c-b5f3-158ff77b1f38/NetFx20SP2_x64.exe"
        InstallCommand="/q /norestart /lang:ENU"
        RepairCommand="/q /norestart /lang:ENU"
        UninstallCommand="/q /norestart /lang:ENU"
        InstallCondition="VersionNT64 AND (NOT Netfx20Version OR (Netfx20Version &lt; v2.0.50727.5420))"
        DetectCondition="Netfx20Version AND (Netfx20Version &gt;= v2.0.50727.5420)">
        <ExitCode Value ="3010" Behavior="forceReboot" />
      </ExePackage>
    </PackageGroup>

    <PackageGroup Id="Mshtml">
      <ExePackage Id="Netfx20"
        Cache="no"
        Compressed="yes"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        Name="Redist\vs_piaredist.exe"
        SourceFile="Redist\vs_piaredist.exe"
        InstallCondition="NOT MshtmlVersion"
        DetectCondition="MshtmlVersion">
        <ExitCode Value ="3010" Behavior="forceReboot" />
      </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>