<?xml version="1.0" encoding="UTF-8"?>
<?if $(var.Platform) = x64 ?>
<?define Win64="yes" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
<?define Win64="no" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="a62692c3-8596-4556-b6b7-6393f3420daa" Name="BEurtle Plugin for TortoiseXXX" Language="1033" Version="1.0.1.0" Manufacturer="ned Productions Limited" UpgradeCode="9a4a032d-90c1-46a2-8f36-38fb1655cca9">
    <Package InstallerVersion="200" Compressed="yes" Platform="$(var.Platform)" Description="BEurtle Plugin for TortoiseXXX" />

    <PropertyRef Id="NETFRAMEWORK20"/>
    <Condition Message="This application requires .NET Framework 2.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK20]]>
    </Condition>
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!-- Set up the loading in of where python lives -->
    <Property Id="PYTHONLOCATION" Secure="yes" Value="C:\"/>
    <Property Id="INSTALLDIR" Secure="yes"/>
    <Binary Id="ExtractPythonPathDLL" SourceFile="..\..\ExtractPath\Release\ExtractPath.dll"/>
    <CustomAction Id="ExtractPythonPath" BinaryKey="ExtractPythonPathDLL" DllEntry="ExtractPath" Execute="immediate"/>
    <InstallUISequence>
      <Custom Action="ExtractPythonPath" After="CostFinalize"/>
    </InstallUISequence>
    <!-- Fire the install of BE. Neither stupid Windows Installer nor Wix can start a program in a working directory, so yet another custom action ... :( -->
    <Binary Id="InstallBEDLL" SourceFile="..\..\InstallBE\Release\InstallBE.dll"/>
    <CustomAction Id="SetInstallBEData" Return="check" Property="InstallBE" Value="[PYTHONLOCATION];[INSTALLDIR]"/>
    <CustomAction Id="InstallBE" BinaryKey="InstallBEDLL" DllEntry="InstallBE" Execute="deferred" Impersonate="no"/>
    <InstallExecuteSequence>
      <Custom Action="SetInstallBEData" Before="InstallBE"/>
      <Custom Action="InstallBE" After="PublishProduct">&amp;FeaturePluginBE=3</Custom>
    </InstallExecuteSequence>

    <Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="CompanyFolder" Name="ned Productions Limited">
          <Directory Id="INSTALLDIR" Name="BEurtle">
            <Component Id="Plugin" Guid="d57ebcd3-e50f-4c2d-86b9-4256eec8f925">
              <!--<File Id="BEurtle.dll" Source="..\BEurtle\bin\Release\BEurtle.dll" KeyPath="yes" Checksum="yes" />-->
              <File Id="BEurtle.pdb" Source="..\BEurtle\bin\Release\BEurtle.pdb" Checksum="yes" />
              <RegistryValue Root="HKCR" Key="CLSID\{233C8C6B-00AC-4E21-89FD-A66A9C10CEDB}\Implemented Categories\{3494FA92-B139-4730-9591-01135D5E7831}" Value="" Type="string" Action="write" />
            </Component>
            <Component Id="Readme" Guid="63a13d89-29f9-4aad-af8d-f4f80d63c0aa">
              <File Id="Readme.txt" Source="..\Readme.txt" KeyPath="yes" Checksum="yes" />
            </Component>
            </Directory>
        </Directory>
      </Directory>
		</Directory>

    <Feature Id="FeaturePlugin" Title="BEurtle Plugin for TortoiseXXX" Description="A TortoiseXXX plugin for the Bugs Everywhere distributed issue tracker"
             Display="expand" Level="1" ConfigurableDirectory='INSTALLDIR' AllowAdvertise='no'>
      <Feature Id="FeaturePluginPlugin" Title="BEurtle Plugin" Description="The DLL used to interface with TortoiseXXX. Mandatory." Level="1"  AllowAdvertise="no" Absent="disallow">
        <ComponentGroupRef Id="BEurtle.dll"/>
        <ComponentRef Id="Plugin" />
        <ComponentRef Id="Readme" />
        <ComponentGroupRef Id="Product.Generated" />
      </Feature>
      <Feature Id="FeaturePluginBE" Title="Bugs Everywhere" Description="A customised edition of the Bugs Everywhere distributed issue tracker. You probably want this." Level="1"  AllowAdvertise="no">
        <ComponentGroupRef Id="BE"  />
        <ComponentGroupRef Id="Product.Generated" />
      </Feature>
    </Feature>

    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="ApplicationFolderName" Value="BEurtle" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <UI>
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Mondo" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg">NOT Installed AND NOT PATCH</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <!--<Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg" Order="2">LicenseAccepted = "1"</Publish>-->

      <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="TypicalButton" Event="NewDialog" Value="PythonLocationDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="CustomButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="CompleteButton" Event="NewDialog" Value="PythonLocationDlg">1</Publish>

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg" Order="2">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="PythonLocationDlg">&amp;FeaturePluginBE=3</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">NOT &amp;FeaturePluginBE=3</Publish>

      <Publish Dialog="PythonLocationDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="PythonLocationDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg" Order="2">WixUI_InstallMode = "InstallTypical" OR WixUI_InstallMode = "InstallComplete"</Publish>
      <Publish Dialog="PythonLocationDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="3">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="PythonLocationDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="4">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>
      <Publish Dialog="PythonLocationDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">WixUI_InstallMode = "Update"</Publish>
      <Publish Dialog="PythonLocationDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="PythonLocationDlg">&amp;FeaturePluginBE=3</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg">NOT &amp;FeaturePluginBE=3</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
    </UI>

    <UIRef Id="WixUI_Common" />
  </Product>
</Wix>
